<div class="confirmDeleteDialogContainer">
    <div class="titleContainer">
        <md-icon>delete</md-icon> <div class="title">Ta bort delprojekt</div>
    </div>
    <div class="contentContainer">
        <div class="warningTextContainer">
            Är du säker på att du vill ta bort delprojektet?
        </div>
        <div class="buttonContainer">
            <button md-button type="button" (click)="cancel()">Avbryt</button>
            <button md-button type="button" (click)="delete()">Ja</button>
        </div>
    </div>
</div>