<div class="infoContainer">
    <form [formGroup]="form" (ngSubmit)="saveForm()" class="container-fluid">
        <div *ngIf="(comboboxItemsState$ | async).loading || (orderState$ | async).loading" class="loadingContainer">
            <md-spinner></md-spinner>
        </div>
        <div *ngIf="!((comboboxItemsState$ | async).loading || (orderState$ | async).loading)">
            <section>
                <div class="column">
                    <search-box-select [getCurrentValue]="clickGetCustomer" (setValue)="updateCustomer($event)" [selectList]="customersComboboxItems$ | async" [initValue]="" [boundProperty]="'id'" placeholder="Kund"
                        formControlName="customerNo">
                    </search-box-select>
                </div>
                <button class="getCustomerInfoBtn" md-button type="button" (click)="getCustomerInfo()"><md-icon>file_download</md-icon>Hämta kundinformation</button>
            </section>
            <section>
                <div class="column">
                    <search-box-select [selectList]="sellersComboboxItems$ | async" [initValue]="" [boundProperty]="'id'" placeholder="Säljare"
                        formControlName="sellerOrBuyer">
                    </search-box-select>
                </div>
                <div class="column">
                    <search-box-select [selectList]="paymentTermsComboboxItems$ | async" [initValue]="" [boundProperty]="'id'" placeholder="Betalningsvillkor"
                        formControlName="paymentTerms">
                    </search-box-select>
                </div>
                <div class="column">
                    <search-box-select [selectList]="currenciesComboboxItems$ | async" [initValue]="" [boundProperty]="'id'" placeholder="Valuta"
                        formControlName="currencyNo">
                    </search-box-select>
                </div>
            </section>
            <section>
                <div class="column">
                   <md-input-container>
                        <input formControlName="customerOrderNo" mdInput placeholder="Kundens ordernr">
                    </md-input-container>
                </div>
                <div class="column">
                    <search-box-select [selectList]="departmentsComboboxItems$ | async" [initValue]="" [boundProperty]="'id'" placeholder="Avdelning"
                        formControlName="department">
                    </search-box-select>
                </div>
                <div class="column">
                    <md-input-container>
                        <input #message maxlength="20" formControlName="customersReference" mdInput placeholder="Kundens referens">
                        <md-hint align="end">{{message.value.length}} / 20</md-hint>
                    </md-input-container>
                </div>
            </section>
            <div class="formBtnDiv">
                <button md-button type="button" (click)="cancelForm()" *ngIf="!saving"><md-icon>undo</md-icon>Ångra</button>
                <button md-button type="submit" [disabled]="!form.valid"><md-icon>save</md-icon>Spara</button>
            </div>
        </div>
    </form>
</div>