<div class="infoContainer">
    <div *ngIf="(orderState$ | async).loading" class="loadingContainer">
        <md-spinner></md-spinner>
    </div>
    <div *ngIf="(!(orderState$ | async).loading)">
        <table>
            <tr class="heading">
                <td>Produkt</td>
                <td>Timpris</td>
            </tr>
            <tr *ngFor="let hourlyRateProduct of (hourlyRateProducts$ | async); let i = index;">
                <td class="column">
                    <md-input-container>
                        <input disabled="true" #description mdInput [value]="hourlyRateProduct.description" (focusout)="descriptionChanged(description.value, i)">
                    </md-input-container>
                </td>
                <td class="column">
                    <md-input-container>
                        <input #price (focusout)="hourlyRateChanged(price.value, i)" mdInput [value]="hourlyRateProduct.salesPrice">
                    </md-input-container>
                </td>
            </tr>
        </table>
    </div>
</div>