<div class="infoContainer">
    <form [formGroup]="form" (ngSubmit)="saveForm()" class="container-fluid">
         <div *ngIf="(comboboxItemsState$ | async).loading || (orderState$ | async).loading" class="loadingContainer">
            <md-spinner></md-spinner>
        </div> 
        <div *ngIf="!((comboboxItemsState$ | async).loading || (orderState$ | async).loading)">
            <section>
                <div class="column">
                    <md-input-container>
                        <input mdInput disabled="true" placeholder="Delprojekt" value="{{ (order$ | async)?.id }} - {{ (order$ | async)?.name }}">
                    </md-input-container>
                </div>
                <div class="column">
                    <search-box-select [selectList]="orderStatusComboboxItems$ | async" [initValue]="" [boundProperty]="'id'" placeholder="Status"
                        formControlName="orderStatusNo">
                    </search-box-select>
                </div>
                <div class="column">
                    <button class="deleteOrderBtn" md-button type="button" (click)="openConfirmDeleteDialog()"><md-icon>delete</md-icon> Ta bort delprojekt</button>
                </div>
            </section>
            <section>
                <div class="column">
                    <md-input-container>
                        <input formControlName="name" mdInput placeholder="Namn">
                    </md-input-container>
                </div>
                <div class="column">
                    <md-input-container>
                        <input formControlName="orderDate" mdInput [mdDatepicker]="picker" placeholder="Orderdatum">
                        <button mdSuffix [mdDatepickerToggle]="picker"></button>
                    </md-input-container>
                    <md-datepicker #picker></md-datepicker>
                </div>
                <div class="column">
                    <md-input-container>
                        <input formControlName="orderValue" mdInput placeholder="Ordervärde">
                    </md-input-container>
                </div>
            </section>
            <section>
                <div class="column">
                    <search-box-select [selectList]="orderTypesComboboxItems$ | async" [initValue]="" [boundProperty]="'id'" placeholder="Typ" formControlName="orderType">
                    </search-box-select>
                </div>
                <div class="column">
                    <search-box-select [selectList]="incomeTypesComboboxItems$ | async" [initValue]="" [boundProperty]="'id'" placeholder="Intäktstyp" formControlName="incomeType">
                    </search-box-select>
                </div>
            </section>
            <section>
                <div class="column">
                    <md-input-container>
                        <textarea formControlName="comment" mdInput placeholder="Kommentar"></textarea>
                    </md-input-container>
                </div>
            </section>
            <div class="formBtnDiv">
                <button md-button type="button" (click)="cancelForm()" *ngIf="!saving"><md-icon>undo</md-icon>Ångra</button>
                <button md-button type="submit" [disabled]="!form.valid"><md-icon>save</md-icon>Spara</button>
            </div>
        </div>
    </form>
</div>