<div class="projectInfoContainer">
    <form [formGroup]="form" (ngSubmit)="saveForm()" class="container-fluid">
        <div *ngIf="(comboboxItemsState$ | async).loading || (orderState$ | async).loading" class="loadingContainer">
            <md-spinner></md-spinner>
        </div>
        <div *ngIf="!((comboboxItemsState$ | async).loading || (orderState$ | async).loading)">
            <section>
                <div class="column">
                    <search-box-select [selectList]="projectsComboboxItems$ | async" [initValue]="" [boundProperty]="'id'" placeholder="Projekt"
                        formControlName="id" (selectValue)="changeProject($event)">
                    </search-box-select>
                </div>
            </section>
            <section>
                <div class="column">
                    <md-input-container>
                        <input mdInput placeholder="Namn" formControlName="name">
                    </md-input-container>
                </div>
                <div class="column">
                    <search-box-select [selectList]="mainProjectLeadersComboboxItems$ | async" [initValue]="" [boundProperty]="'id'" placeholder="Huvudprojektledare"
                        formControlName="projectLeaderNo">
                    </search-box-select>
                </div>
            </section>
            <section>
                <div class="column">
                    <search-box-select [selectList]="usersComboboxItems$ | async" [initValue]="" [boundProperty]="'id'" placeholder="Slutkund"
                        formControlName="endCustomerNo">
                    </search-box-select>
                </div>
                <div class="column">
                    <search-box-select [selectList]="usersComboboxItems$ | async" [initValue]="" [boundProperty]="'id'" placeholder="OEM" formControlName="oemNo">
                    </search-box-select>
                </div>
                <div class="column">
                    <search-box-select [selectList]="usersComboboxItems$ | async" [initValue]="" [boundProperty]="'id'" placeholder="Agent" formControlName="agentNo">
                    </search-box-select>
                </div>
            </section>
            <section>
                <div class="column">
                    <md-input-container>
                        <textarea formControlName="comment" mdInput placeholder="Kommentar"></textarea>
                    </md-input-container>
                </div>
            </section>
            <div class="formBtnDiv">
                <button md-button type="button" (click)="cancelForm()" *ngIf="!saving"><md-icon>undo</md-icon>Ångra</button>
                <button md-button type="submit" [disabled]="!form.valid"><md-icon>save</md-icon>Spara</button>
            </div>
        </div>
    </form>
</div>