@import '../../../../../assets/stylesheets/_variables';

.projectInfoContainer {
    background-color: white;
    color: #444444;
    border-bottom: 1px solid #EFEFEF;
    form { 
        padding: 20px;
        background-color: white;
        .loadingContainer {
            md-spinner {
                display: inline-block;
            }
            text-align: center;
            width: 100%;
        }
        section {
            display: flex;
            .column {
                md-input-container {
                    width: 100%;
                }
                textarea {
                    height: 150px;
                }
                margin-top: 10px;
                margin-left: 10px;
                margin-right: 10px;
                flex-grow: 1;
            }
        }
        .formBtnDiv {
            width: 100%;
            text-align: right;
        }
    }
}