<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="visma.businessServices" type="System.Configuration.ConfigurationSectionGroup, System.Configuration, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a">
      <section name="settings" type="Visma.BusinessServices.Client.SettingsSection, Visma.BusinessServices.Client, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="JWT_SIGNING_KEY" value="0RUbsbCWhDpkhrmeMtGF63AVWbymbbUGzGk2FHAQrf0oFAzTQmCSZOIFsU3gKlaYMybll45uB7yZhPaJYvnPFpSAbi1AmmjEgfiKnbFXt1ZnhBBqoahhv1PRNnYZzLl3"/>
    <add key="JWT_SIGNING_ALGORITHM" value="http://www.w3.org/2001/04/xmldsig-more#hmac-sha256"/>
    <add key="VB_AUTH_USER" value="standard" />
    <add key="JWT_EXPIRATION_TIME" value="48:00:00" />
    <add key="VB_AUTH_PASSWORD" value="" />
    <add key="VB_CONTEXT_USER" value="system" />
    <add key="VB_INTEGRATION_ACTOR" value="1" />
    <add key="VB_COMPANY_NUMBER" value="9999" />
    <add key="VB_FILE_PATH" value="C:\Users\Exsitec\Documents\F9999\" />
  </appSettings>
  
  <connectionStrings>
    <add name="DbContext" providerName="System.Data.SqlClient" connectionString="Server=DESKTOP-6H8O2QS;Initial Catalog=F9999;User ID=sa;Password=!exsitec001;Connection Timeout=30;" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.6.1"/>
    <httpRuntime targetFramework="4.5.2"/>
    <httpModules>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web"/>
    </httpModules>
  </system.web>
  <system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0"/>
      <remove name="OPTIONSVerbHandler"/>
      <remove name="TRACEVerbHandler"/>
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0"/>
    </handlers>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules>
      <remove name="ApplicationInsightsWebTracking"/>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" preCondition="managedHandler"/>
    </modules>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <!-- VBS -->
  <visma.businessServices>
    <settings>
      <serviceWrapper priority="Normal" cultureId="English__UnitedKingdom" />
    </settings>
  </visma.businessServices>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IOrderService" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
      </basicHttpBinding>
      <wsHttpBinding>
        <binding name="vbsSecuredBinding" closeTimeout="23:59:59" openTimeout="23:59:59" receiveTimeout="23:59:59" sendTimeout="23:59:59" maxBufferPoolSize="524288" maxReceivedMessageSize="1073741824">
          <readerQuotas maxDepth="1000000000" maxStringContentLength="1000000000" maxArrayLength="1000000000" maxBytesPerRead="1000000000" maxNameTableCharCount="1000000000" />
          <security mode="Message">
            <message clientCredentialType="UserName" />
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>

    <!--**** DEVELOPMENT ****-->
    <client>
      <endpoint name="VBS" address="http://localhost:2001/GenericService" behaviorConfiguration="nullX509Behavior" binding="wsHttpBinding" bindingConfiguration="vbsSecuredBinding" contract="Visma.BusinessServices.Generic.IGenericService">
        <identity>
          <dns value="VBSTestCert" />
        </identity>
      </endpoint>
    </client>
    <!--**** END OF DEVELOPMENT ****-->

    <!--**** PRODUCTION ****-->
    <!--<client>
      <endpoint name="VBS" address="http://192.168.5.12:2001/GenericService" behaviorConfiguration="nullX509Behavior" binding="wsHttpBinding" bindingConfiguration="vbsSecuredBinding" contract="Visma.BusinessServices.Generic.IGenericService">
        <identity>
          <certificate encodedValue="MIIBuzCCAWWgAwIBAgIQ2UcU2ou2q5NBsM7Cfw5QfzANBgkqhkiG9w0BAQQFADAWMRQwEgYDVQQDEwtSb290IEFnZW5jeTAeFw0xNDAxMjgxMDQ5MzVaFw0zOTEyMzEyMzU5NTlaMBYxFDASBgNVBAMTC1ZCU1Rlc3RDZXJ0MIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQC96KkXDoqddr4W4Rl4lnti8vsbrGw8hrkr3+NS9iduLyZH0Y+/SkQjbkig0VJgaOyoh7qpS6N0EqRiUZXw9v2aQiEgzmDjwOme8nRIfzfYSS/9rH/0Xoh9JOAXzDSwWTd2aXiGv1oD7sKrBC76PhS4HHW3oFsQtkP7ZorJ2ZG/YQIDAQABo0swSTBHBgNVHQEEQDA+gBAS5AktBh0dTwCNYSHcFmRjoRgwFjEUMBIGA1UEAxMLUm9vdCBBZ2VuY3mCEAY3bACqAGSKEc+41KpcNfQwDQYJKoZIhvcNAQEEBQADQQBH8cIbzDS9lKQQUmR59t7axaiKrGyam8cuyg9sh3P1WPtdlZ79Bbn0qJfgfa24DGa0f8JYnCldS6P1R/711CSy" />
        </identity>
      </endpoint>
    </client>-->
    <!--**** END OF PRODUCTION ****-->

    <behaviors>
      <endpointBehaviors>
        <behavior name="nullX509Behavior">
          <clientCredentials>
            <serviceCertificate>
              <authentication certificateValidationMode="Custom" customCertificateValidatorType="Visma.BusinessServices.Client.NullX509CertificateValidator, Visma.BusinessServices.Client" />
            </serviceCertificate>
          </clientCredentials>
          <dataContractSerializer maxItemsInObjectGraph="1000000000" />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <protocolMapping>
      <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="false" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701"/>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>
    </compilers>
  </system.codedom>
</configuration>