@import '../../../../assets/stylesheets/_variables';

.backArrowDiv {
    height: 0px;
    .backArrow {
        position:absolute;
        top: 3px;
        color: white;
        left: 30px;
    }
}

.editOrderDiv {
    height: 0px;
    h2 {
        left: 75px;
        position: absolute;
        top: 2px;
        color: white;
        font-size: 15px;
    }
    white-space: nowrap;
}

.tabGroupDiv {
    background-color:#F2F2F2;
    -webkit-box-shadow: -2px 7px 63px 0px rgba(0,0,0,0.11);
    -moz-box-shadow: -2px 7px 63px 0px rgba(0,0,0,0.11);
    box-shadow: -2px 7px 63px 0px rgba(0,0,0,0.11);
    position: relative;
    //top: -12px;
    // margin-left: 20px;    
    // margin-right: 20px;
    // margin-top: 10px; 
   
    .projectInfoTab {
        margin: 20px;
        .projectInfoSubmitBtnsDiv {
            text-align: right;
        }
    }
    
}

md-input-container {
    width: 100%;
    input {
        width: 100%;
    }
}

search-box-select {
    width: 50%;
}

@media screen and (min-width: 480px) {
    .tabGroupDiv {
        margin-top: 20px; 
        margin-left:20px;
        margin-right: 20px;
        margin-bottom: 20px;
    }
}